@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #fe2c55;
  --black: #000;
  --text-color: #161823;
  --white: #fff;

  // Default Layout
  --default-layout-header-height: 60px;
  --default-layout-width: 100%;
  --default-left-horizontal-layout-spacer: 16px;
  --default-right-horizontal-layout-spacer: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5rem;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

// Custom tippy tooltips
body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    background-color: rgba(84, 84, 84, 0.92);
  }

  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
    border-bottom: none;
  }

  .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
  }

  .tippy-content {
    padding: 8px 9px;
  }
}
