.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: var(--default-layout-width);
  padding-left: var(--default-left-horizontal-layout-spacer);
  padding-right: var(--default-right-horizontal-layout-spacer);
  display: flex;
}

.content {
  flex: 1;
}
